<div class="container__big-card">
  <div class="big-card__photo">
    <img
      src="https://t3.ftcdn.net/jpg/02/48/42/64/360_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg"
      height="250px"
      width="300px"
      alt=""
    >
  </div>
  <div class="big-card__title">
    <a href="#">
      <h2>
          Como alcançar sua primeira vaga dev
      </h2>
    </a>
  </div>
  <div class="big-card__description">
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe ex quos quibusdam deserunt a asperiores voluptatum consectetur eius officia! Eaque neque, ut consectetur dolorum laboriosam rerum repellat doloribus odit odio!
    </p>
  </div>
</div>
